body {
    background-color: black;
}

strong {
    font-size: min(6vw, 20px);
    color: rgb(104, 103, 103);
}

h1 {
    color:rgb(124, 23, 23);
    text-align: center;
    font-family: sans-serif;
    font-size: min(10vw);
    padding-left: 4vw;
    padding-right: 4vw;
    line-height: 90%;
    margin-bottom: 2vw;

}

h2 {
    color:whitesmoke;
    text-align: center;
    font-family: sans-serif;
    font-size: min(5vw, 30px);
    font-weight: normal;
}

h3 {
    color:whitesmoke;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    font-size: min(5vw, 20px);
    margin-bottom: 0;
}

p {
    color:cornsilk;
    text-align: justify;
    font-family: 'M PLUS 1 Code', monospace;
    font-size: min(5vw, 18px);
    
}

hr.red {
    max-width: 500px;
    border: 1px solid rgb(209, 78, 78);
}

hr.email {
    border: 1px solid rgb(54, 54, 54);
}

p.email {
    font-size: min(6vw, 20px);
}

.center {
    /*width: max(400px, 70vw);*/
    max-width: 500px;
    margin: auto;
    padding: 20px;
    text-align: justify;
}

.command-line {
    color:cornsilk;
    text-align: justify;
    font-family: 'M PLUS 1 Code', monospace;
    font-size: min(5vw, 18px);
    background-color: #1b1b1b;
    
    
}


nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color:#8f322c;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;

}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: rgb(41, 40, 40);
    margin-top: 0px;
}

/*.flex-container > div {
    background-color: #8f322c;
    width: 200px;
    margin: 10px;
    text-align:center;
    line-height: 75px;
    font-size: 30px;
}*/

.nav-button {
    background-color:rgb(41, 40, 40);
    border: 0;
    color: white;
    padding: 4px 16px;
    text-align: center;
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
}

.nav-button:hover {background-color:rgb(24, 23, 23)}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    display: inline-block;
    text-align: center;
    color: white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    background-color: #333;
    transition: 0.3s;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #8f322c;
}

.manchete {
    max-width: 900px;
    margin: auto;
    padding-top: 20px;
    text-align: justify;
}

.instructions {
    color: whitesmoke;
    text-align: justify;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: min(5vw, 20px);
}

.footer {
    background-color: #333;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.main-page-text {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    text-align: justify;
    line-height: 150%;
    
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }
