body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #2ecc71;
    color: #ffffff;
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    border-radius: 8px;
    text-align: center;
    min-width: 400px;
    height: 5%;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #27ae60;
}

.container-buttons {
    display: flex;
    margin-top: 30%;
    flex-direction: column;
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding: 20px;
    z-index: 20;
    color:#ffffff;
    
}

.container-buttons2 {
    display: flex;
    margin-top: 30%;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 900px;
    padding: 20px;
    z-index: 20;
}
 
 /* SLIDER */
 #ui-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    max-width: 600px;
    width: 75%;
    }
    input[type=range] { width: 90%;}


#camera-gate {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(15, 15, 15, 0.98);
    display: flex;
    justify-content: center;
    align-items: center;
    /*z-index: 9999; */
    transition: opacity 0.5s ease; /* Transição suave ao sumir */
}

.gate-content {
    text-align: center;
    color: white;
    font-family: sans-serif;
    margin-bottom: 20%;
}

#start-btn {
    padding: 20px 40px;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(46, 204, 113, 0.4);
    margin-bottom: 30%;
}

#start-btn:hover {
    background-color: #27ae60;
}


#game-container {
    padding: 20px;
    display: none; 
}


#years-marks {
    display: flex;
    justify-content: space-between;
    width: 250px;
    margin: 0 auto;
    padding: 0 10px;
}

#label-year {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5rem;
}

.hidden {
    display: none !important; 
}


#change-texture-btn {
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 999; /* Garante que o botão fique na frente da cena */
      padding: 15px 30px;
      font-size: 18px;
      font-weight: bold;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
      transition: background-color 0.2s;
    }
    #change-texture-btn:active {
      background-color: #0056b3;
    }

    

